[submodule "Filbert/vendor/spdlog"]
	path = Filbert/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Filbert/vendor/glfw"]
	path = Filbert/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Filbert/vendor/imgui/imgui"]
	path = Filbert/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Filbert/vendor/glm"]
	path = Filbert/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Filbert/vendor/stb"]
	path = Filbert/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Filbert/vendor/json"]
	path = Filbert/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "Filbert/vendor/entt"]
	path = Filbert/vendor/entt
	url = https://github.com/skypjack/entt.git
